.container {
    background: #ffffffb5;
    max-width: 800px;
    width: 100%;
    padding: 10px 60px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    margin-right: 50px;
  }
  body {
    display: grid;
    height: 100vh;
    width: 100%;
    background-image:url("../img/thé.png");
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
  footer{
    color: #ffffff;
}
img
{
  
  border-radius: 50px;
}



